<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BG3_Autosave_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BG3_Autosave_Manager.Properties.Settings>
            <setting name="AutosaveLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BG3StoryId" serializeAs="String">
                <value />
            </setting>
            <setting name="AutosaveInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="QuickLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BG3SaveFolder" serializeAs="String">
                <value />
            </setting>
        </BG3_Autosave_Manager.Properties.Settings>
    </userSettings>
</configuration>